<ion-view view-title="Sections">
  <ion-nav-buttons side="secondary">
      <h1><button class="button ion-android-add-circle" ng-click="modal.show()"></button></h1>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="text-center" ng-repeat="sections in sc.sectionResponse.sections" type="item-text-wrap" ui-sref="tab.students({klass_id: sections.klass_id, id: sections.id})">
        <div>
          <h3><a>Section {{ sections.name }}</a></h3>
        </div>
        <ion-option-button class="button-calm" ng-click="sc.editSection(sections)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="sc.deleteSection(sections)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="newModal.html" type="text/ng-template">
  <ion-modal-view >
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">New Section</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Section Name</span>
          <input ng-model="sectionName" type="text">
        </label>
        <button class="button button-full button-positive" ng-click="sc.addSection(sectionName)">Create</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="editModal.html" type="text/ng-template">
  <ion-modal-view >
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Update Section</h1>
      <button class="button button-clear button-primary" ng-click="modal2.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Section Name</span>
          <input name="name" ng-model="sc.sections.name" type="text">
        </label>
        <button class="button button-full button-positive" ng-click="sc.updateSection(sc.sections,name)">Update</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
