<ion-view view-title="Student Details">
  <ion-content>
    <div class="list card">

      <div class="row">
    <div class="col">
      <h4><strong>Roll No :</strong></h4>
      <h4><strong>House Name :</strong></h4>
      <h4><strong>Name :</strong></h4>
      <h4><strong>Father's Name :</strong></h4>
      <h4><strong>Gender :</strong></h4>
      <h4><strong>Date of Birth :</strong></h4>
      <h4><strong>Email id :</strong></h4>
      <h4><strong>Address :</strong></h4>
      <h4><strong>Phone :</strong></h4>
    </div>
    <div class="col-60">
      <h4>{{ sd.studentResponse.student.roll_number }}</h4>
      <h4>{{ sd.studentResponse.student.house_name }}</h4>
      <h4>{{ sd.studentResponse.student.name }}</h4>
      <h4>{{ sd.studentResponse.student.fathers_name }}</h4>
      <h4>{{ sd.studentResponse.student.gender }}</h4>
      <h4>{{ sd.studentResponse.student.dob }}</h4>
      <h4>{{ sd.studentResponse.student.email }}</h4>
      <h4>{{ sd.studentResponse.student.address }}</h4>
      <h4>{{ sd.studentResponse.student.phone }}</h4>
    </div>
  </div>
  <button class="button button-balanced col" ng-click="sd.editStudent(sd.studentResponse.student)">
    Edit
  </button><br>
  <button class="button button-assertive col" ng-click="sd.deleteStudent(sd.studentResponse.student)">
    Delete
  </button>
  </ion-content>
</ion-view>

<script id="editModal.html" type="text/ng-template">
<ion-modal-view >
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">New Student</h1>
    <button class="button button-clear button-primary" ng-click="modal2.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label for="rollnumber" class="item item-input">
      <span class="input-label">Roll Number</span>
      <input ng-model="sd.studentResponse.student.roll_number" type="text">
      </label>
      <label for="house" class="item item-input">
        <span class="input-label">House Name</span>
        <input ng-model="sd.studentResponse.student.house_name" type="text">
      </label>
      <label for="name" class="item item-input">
        <span class="input-label">Student Name</span>
        <input ng-model="sd.studentResponse.student.name" type="text">
      </label>
      <label for="fathername" class="item item-input">
        <span class="input-label">Fathers Name</span>
        <input ng-model="sd.studentResponse.student.fathers_name" type="text">
      </label>
      <label for="gender" class="item item-input">
        <span class="input-label">Gender</span>
        <input ng-model="sd.studentResponse.student.gender" type="text">
      </label>
      <label for="email" class="item item-input">
        <span class="input-label">Email ID</span>
        <input ng-model="sd.studentResponse.student.email" type="text">
      </label>
      <label for="dob" class="item item-input">
        <span class="input-label">Date of Birth</span>
        <input type="text" ng-model="sd.studentResponse.student.dob">
      </label>
      <label for="phone" class="item item-input">
        <span class="input-label">Phone Number</span>
        <input ng-model="sd.studentResponse.student.phone" type="text">
      </label>
      <label for="address" class="item item-input">
        <span class="input-label">Address</span>
        <input ng-model="sd.studentResponse.student.address" type="text">
      </label>
      <button class="button button-full button-positive" ng-click="sd.updateStudent(sd.student, name, rollnumber, fathername, gender, email, phone, dob, address, house)">Create</button>
    </div>
  </ion-content>
</ion-modal-view>
</script>
