<ion-view view-title="Code Astra">
  <ion-content class="padding" >
    <br>
    <h2 class="text-center">India's first coding boot camp</h2>
    <br>
    <h4>
    Code Astra is for you if you are...
  </h4>
  <ul>
    <li>&#10003; a professional looking for a career change into software development.</li>
    <li>&#10003; an entrepreneur tired of looking for a tech co-founder for your startup.</li>
    <li>&#10003; a computer science student looking for practical skills.</li>
    <li>&#10003; a complete beginner who have started coding very recently.</li>
  </ul>
  <br><br>

  <h4>
    It's time to add the Code Astra to your skill set quiver!
  </h4>
  </ion-content>
</ion-view>
