<ion-view view-title="Classes" >
  <ion-nav-buttons side="secondary">
      <h1><button class="button ion-android-add-circle" ng-click="modal.show()"></button></h1>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class= "text-center" ng-repeat="classes in cc.classResponse.klasses"  type="item-text-wrap" ui-sref= "tab.sections({id: classes.id})">
        <div>
          <h3><a>Class {{ classes.name }}</a></h3>
        </div>
        <ion-option-button class="button-calm" ng-click="cc.editClass(classes)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="cc.deleteClass(classes)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="newModal.html" type="text/ng-template">
  <ion-modal-view >
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">New Class</h1>
      <button class="button button-clear button-primary" ng-click="cc.closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <form name="newClass" id="newClassForm" ng-submit="cc.addClass(className)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Class Name</span>
            <input ng-model="className" type="text" >
          </label>
          <button class="button button-full button-positive" type="submit">Create</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="editModal.html" type="text/ng-template">
  <ion-modal-view >
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Update Class</h1>
      <button class="button button-clear button-primary" ng-click="modal2.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input name="name" ng-model="cc.classes.name" type="text">
        </label>
        <button class="button button-full button-positive" ng-click="cc.updateClass(cc.classes)">Update</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
